
#wb_header { height: 400px; }
#wb_header > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 440px; padding-bottom: 30px; }
#wb_main > .wb_cont_bg { background: transparent none repeat-x left top; background-size: auto auto; }
#wb_footer { height: 80px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: #ffffff none no-repeat fixed center center; background-size: cover; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 1200px; min-height: 920px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 890px; overflow: visible; min-height: 920px; }
#wb_element_instance0 { top: 35px; left: 70px; min-width: 380px; width: 380px; min-height: 28px; height: 28px; display: block; z-index: 2802; }
#wb_element_instance1 { top: 11px; left: 10px; min-width: 50px; width: 50px; min-height: 70px; height: 70px; display: block; z-index: 3569; }
#wb_element_instance1 img { width: 50px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance2 { top: 20px; left: 550px; min-width: 650px; width: 650px; min-height: 55px; height: 55px; display: block; z-index: 3780; }
#wb_element_instance2 > ul { display: block; }
#wb_element_instance2 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance2, #wb_element_instance2 ul { text-align: right; }
#wb_element_instance2 ul ul { background: #ffffff none repeat left top; }
#wb_element_instance2 li { margin: 10px 10px 10px 10px; }
#wb_element_instance2 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #1987b3; line-height: 15px; background: transparent none repeat left top; }
#wb_element_instance2 li.over > a, #wb_element_instance2 li:focus > a { border: 0px none #000000; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #ff7a14; line-height: 15px; background: transparent none no-repeat center bottom; }
#wb_element_instance2 li.active > a { border: 0px none #000000; font: normal bold 13px 'Open Sans',sans-serif; text-decoration: none; color: #ff7a14; line-height: 15px; background: transparent none no-repeat center bottom; }
#wb_element_instance2:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance2:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance2:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance3 { top: 203px; left: 1px; min-width: 1199px; width: 1199px; min-height: 84px; height: 84px; display: block; z-index: 3571; }
#wb_element_instance4 { top: 0px; left: 0; right: 0; min-height: 90px; height: 90px; display: block; z-index: 1205; }
#wb_element_instance4 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 90px; }
#wb_element_instance5 { top: 90px; left: 0; right: 0; min-height: 310px; height: 310px; display: block; z-index: 1186; }
#wb_element_instance5 > .wb_shp { background: #004e8a none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 0.75; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 310px; }
#wb_element_instance6 { top: 90px; left: 0; right: 0; min-height: 310px; height: 310px; display: block; z-index: 1172; }
#wb_element_instance6 > .wb_shp { background: #ffffff url("../gallery_gen/95d017ea79203e5185f8c214ae56ac5d.jpg") repeat fixed center center; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 310px; }
#wb_element_instance7 { top: 0px; left: 0; right: 0; min-height: 80px; height: 80px; display: block; z-index: 166; }
#wb_element_instance7 > .wb_shp { background: #000000 none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 80px; }
#wb_element_instance8 { top: 40px; left: 0px; min-width: 370px; width: 370px; min-height: 340px; height: 340px; display: block; z-index: 137; }
#wb_element_instance8 > .wb_shp { background: #1987b3 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; width: 370px; height: 340px; }
#wb_element_instance9 { top: 40px; left: 830px; min-width: 370px; width: 370px; min-height: 340px; height: 340px; display: block; z-index: 139; }
#wb_element_instance9 > .wb_shp { background: #1987b3 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; width: 370px; height: 340px; }
#wb_element_instance10 { top: 40px; left: 414px; min-width: 370px; width: 370px; min-height: 340px; height: 340px; display: block; z-index: 140; }
#wb_element_instance10 > .wb_shp { background: #1987b3 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; width: 370px; height: 340px; }
#wb_element_instance11 { top: 170px; left: 47px; min-width: 310px; width: 310px; min-height: 29px; height: 29px; display: block; z-index: 138; }
#wb_element_instance12 { top: 70px; left: 444px; min-width: 310px; width: 310px; min-height: 29px; height: 29px; display: block; z-index: 141; }
#wb_element_instance13 { top: 70px; left: 860px; min-width: 310px; width: 310px; min-height: 29px; height: 29px; display: block; z-index: 143; }
#wb_element_instance14 { top: 118px; left: 30px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; z-index: 142; overflow: hidden; }
#wb_element_instance14 img { width: 310px; height: 128.13333333333px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance15 { top: 120px; left: 444px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; z-index: 144; overflow: hidden; }
#wb_element_instance15 img { width: 310px; height: 128px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance16 { top: 120px; left: 860px; min-width: 310px; width: 310px; min-height: 120px; height: 120px; display: block; z-index: 145; overflow: hidden; }
#wb_element_instance16 img { width: 310px; height: 128.27586206897px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance17 { top: 251px; left: 30px; min-width: 310px; width: 310px; min-height: 56px; height: 56px; display: block; z-index: 146; }
#wb_element_instance18 { top: 251px; left: 445px; min-width: 310px; width: 310px; min-height: 56px; height: 56px; display: block; z-index: 147; }
#wb_element_instance19 { top: 250px; left: 860px; min-width: 310px; width: 310px; min-height: 93px; height: 93px; display: block; z-index: 148; }
#wb_element_instance20 { top: 70px; left: 30px; min-width: 310px; width: 310px; min-height: 29px; height: 29px; display: block; z-index: 149; }
#wb_element_instance21 { top: 400px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance22 { top: 100px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance0 p:last-child { margin-bottom: 0; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
